include README.md LICENSE COPYING
include pysinsy/_dic/*.conf pysinsy/_dic/*.table pysinsy/_dic/*.macron
recursive-include pysinsy *.cpp *.pxd *.md *.pyx *.xml COPYING LICENSE README.md
recursive-include lib *.cpp *.c *.h README LICENSE COPYING
